<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Department #<%= @the_department.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/departments">
          Go back
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @the_department.name %>
        
      </dd>

      <dt>
        Number of courses
      </dt>
      <dd>
        <%= Course.where({ :department_id => @the_department.id }).count %>
      
      </dd>

    </dl>
  </div>
</div>

<hr>

<h2>Courses</h2>
<ul>
<% department = Course.where({:department_id => @the_department.id }) %>
  <%  department.each do |course| %>
    <li>
      <% the_course = Course.where({ :id => course.id }).at(0) %>
      <a href="/courses/<%= the_course.id %>">
      <%= the_course.title %></a>
    </li>
 
<ul>
<%end%>
